* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
  }
  
  /* ------------------------------ */
  /* ---------- NAVBAR ------------ */
  /* ------------------------------ */
  
  body{
        background-position: center;
        background-size: cover;
        height: 100vh;
        background-image: url(./images/background-4c1b4e1f-002e-4a63-8e25-23135b099b89.jpg);
        background-color: #fff;
        max-width: 90rem;
        margin: auto;
        }

  .navbar {
    margin-left: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    color: #fff;
    font-size: 35px;
    font-family: sans-serif;
    padding-top: 10px;
  }

  .items {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font:bold;
    list-style-type: none;
    gap: 60px;
    margin-left: 200px;
  }

  .phone-image {
    height: 35px;
    margin-top: 10px;
  }

  .phonecall {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    margin-top: -10px;
  }

  .phonecall h3 {
    color: #fff;
    font-family: sans-serif;
    margin-right: 40px;
  }
  
  .bottom {
    margin-left: 80px;
  }

 .design {
   font-size: 75px;
   color: #fff;
   font-family: Serif;
   margin-top: 140px;
   line-height: 120px;
   margin-left: 50px;
 }

 .button {
  margin: 40px;
  color: #fff;
  border: 4px;
  border-color: #fff;
  border-style: solid;
  padding: 25px 65px;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 50px;
  margin-top: 100px;
  font: bold;
  background-color: transparent;
 }

 .puzzelimage {
  height: 50px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px 40px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 25px;
 }

 .puzzle h2 {
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
  margin-left: 35px;
 }

 .middle {
  margin-left: 1040px;
  margin-top: -500px;
  width: 350px;
  height: 170px;
  background: rgba(244, 240, 240, 0.24);
  backdrop-filter: blur(1px);
 }

 .bulb-image {
  height: 50px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px 40px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 25px;
 }

 .bulb h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
  margin-left: 32px;
 }

 .right {
  margin-left: 720px;
  margin-top:250px;
  width: 360px;
  height: 210px;
  background: rgba(244, 240, 240, 0.24);
  backdrop-filter: blur(1px);
 }

 .line {
  border-left: 2.5px solid #fff;
  height: 100px;
  margin-top: 24px;
  margin-left: 250px;
 }

 .circle {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 238.5px;
  margin-top: -10px;
 }

 .line1 {
  border-left: 2.5px solid #fff;
  height: 100px;
  margin-top: -120px;
  margin-left: 409px;
  transform: rotate(90deg);
 }

 .circle1 {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 455px;
  position: relative;
  bottom: 30%;
  }

  .line2 {
    border-left: 2px solid #fff;
    height: 970px;
    margin-top: -1020px;
    margin-left: 30px;
    transform: rotate(90deg);
  }

  /* Responsive design */

  @media screen and (max-width: 1400px) {
    
    .design {
      font-size: 55px;
      line-height: 70px;
      }
     
    .button {
        padding: 20px 55px;
        font-size: 15px;
        margin-top: 60px;
      }

    .middle {
        margin-left: 800px;
        margin-top: -400px;
      }

    .right {
        margin-left: 520px;
        margin-top:200px;
       }
    
       
    .line2 {
        border-left: 2px solid #fff;
        height: 950px;
        margin-top: -700px;
        margin-left: -20px;
        padding-left: 750px;
      }
  }

  @media screen and (max-width: 1350px) {
    
    .items {
      font-size: 15px;
      gap: 20px;
      margin-left: 130px;
    }

    .phonecall {
      margin-top: -10px;
    }
  
    .phonecall h3 {
      font-size: 15px;
    }

    .phone-image {
      height: 25px;
      margin-top: 10px;
    }

    .design {
      font-size: 45px;
      line-height: 70px;
      }
     
    .button {
        padding: 18px 50px;
        font-size: 12px;
        margin-top: 60px;
      }

    .middle {
        margin-left: 640px;
        margin-top: -350px;
      }

    .right {
        margin-left: 380px;
        margin-top: 150px;
       }
       
    .line2 {
      height: 620px;
      margin-top: -530px;
      margin-left: -85px;
    }
  }

  @media screen and (max-width: 990px) {
    
    .items {
      font-size: 9px;
      gap: 20px;
      margin-left: 100px;
      margin-right: 20px;  
     }

    .phonecall {
      margin-top: -10px;
    }
  
    .phonecall h3 {
      font-size: 10px;
      margin-top: 10px;
    }

    .phone-image {
      height: 23px;
      margin-top: 10px;
      margin-left: 5px;
    }

    .design {
      font-size: 30px;
      line-height: 45px;
      }
     
    .button {
        padding: 15px 40px;
        font-size: 10px;
        margin-top: 40px;
      }

    .middle {
        margin-left: 500px;
        margin-top: -250px;
        width: 280px;
        height: 150px;
      }

      .line {
        height: 80px;
        margin-top: 25.5px;
        margin-left: 200px;
       }
      
       .circle {
        height: 20px;
        width: 20px;
        margin-left: 191px;
       }

    .right {
        margin-left: 280px;
        margin-top: 150px;
        width: 260px;
        height: 170px;
       }
       
      
    .line2 {
      height: 520px;
      margin-top: -440px;
      margin-left: -115px;
    }

    .puzzelimage {
      height: 40px;
      padding: 10px 20px;
    }
    
     .puzzle h2 {
      font-size: 15px;
      margin-left: 35px;
     }

     .bulb-image {
      height: 40px;
      padding: 10px 20px;
     }
    
     .bulb h4 {
      font-size: 15px;
      margin-left: 35px;
     }

     .line1 {
      height: 85px;
      margin-top: -120px;
      margin-left: 301px;
     }
    
     .circle1 {
      height: 20px;
        width: 20px;
      margin-left: 340px;
      margin-top: -00px;
      }
  }

  @media screen and (max-width: 755px) {
      
    .line2 {
      display: none;
    }

    .items {
      display: none;
     }

    .logo {
      font-size: 18px;
      margin-top: -25px;
      }

    .flex {
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
    }

    .flex-not-imp {
      margin-top: 300px;
      margin-right: 150px;
    }

    .design {
      font-size: 18px;
      margin-right: 100px;
      }
     
    .button {
        margin-left: 70px;
        padding: 10px 30px;
        font-size: 8px;
      }

   .right {
        margin-left: 150px;
       }

   .middle {
        margin-left: 250px;
       
      }
  }
